body {
		font-family: monospace;
}

a:hover {
		font-weight:bold;
}

.logo {
		text-align:center;
}

.searchform{
		text-align:center;
		margin-bottom: 20px;
		font-weight: bold;
		font-family: monospace;
}

.searchform select{
		font-family: monospace;
		border-style: solid;
		border-width: 2px;
		border-color: black;
		-moz-border-radius: 5px;
		background-color: #ffffff;
}

.searchform input{
		font-family: monospace;
		border-style: solid;
		border-width: 2px;
		border-color: black;
		-moz-border-radius: 5px;
		background-color: #ffffff;
}

.searchform input[type=text]{
		font-family: monospace;
		border-style: solid;
		border-width: 2px;
		border-color: black;
		-moz-border-radius: 5px;
}

.searchform input[type=submit]{
		background-color: #ff9900;
		border-style: solid;
		border-width: 2px;
		border-color: black;
		color: black;
		font-weight: bold;
		-moz-border-radius: 5px;
}

#bottomsearchform{
		margin-top: 20px;
}

.resindex{
		color: #ffffff;
		margin-top: 20px;
		padding-top: 20px;
		background-color: #222222;
		border-style: dashed;
		border-width: 2px;
		border-color: #ffffff;
		-moz-border-radius: 5px;
		padding-bottom: 20px;
}

.resindex a{
		color: #ffffff;
}

.otherresults{
		padding-top: 20px;
		background-color: #eeeeee;
		border-style: dashed;
		border-width: 2px;
		border-color: black;
		-moz-border-radius: 5px;
		padding-bottom: 20px;
		padding-left: 0px;
}

.exactresults{
		padding-top: 20px;
		background-color: #ff9900;
		border-style: solid;
		border-width: 4px;
		border-color: black;
		-moz-border-radius: 5px;
		padding-bottom: 20px;
		padding-left: 0px;
}

.result{
		color: #000000;
		font-weight: bold;
}

.result a{
		color: #000000;
		font-weight: bold;
}

.otherrestitle {
		color: #ffffff;
		font-weight: bold;
		background-color: #222222;
		padding-left: 10px;
		padding-right: 10px;
}

.exactrestitle {
		color: #000000;
		font-weight: bold;
		background-color: #ff9900;
		padding-left: 10px;
		padding-right: 10px;
		border-style: solid;
		border-width: 2px;
		border-color: #000000;
}

.bottomtoplink {
		text-align: right;
}

.bottomtoplink a {
		color: #ffffff;
		background-color: #222222;
		font-weight: bold;
		padding-left: 5px;
		padding-right: 8px;
		padding-bottom: 4px;
		padding-bottom: 2px;
}

.uarr {
		font-size: 150%;
		text-decoration: none;
		font-weight: bold;
}

#navmenu ul {
		padding-top: 8px;
		color: #ffffff;
		background-color: #222222;
		border-style: dashed;
		border-width: 2px;
		border-color: #ffffff;
		-moz-border-radius: 5px;
		padding-bottom: 8px;
		margin-bottom: 30px;
}
#navmenu li {display: inline; }
#navmenu ul li a {
		padding: 5px 40px 5px 0px; 
		color: #ffffff;
}

td, th {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

ul.files {
	margin-left: 0;
	padding-left: 0;
	list-style: none;

}

li.browse
{
	background-image: url(/ninuxoo/browse.png);
	background-repeat: no-repeat;
	background-position:  0.5em 0em;
	padding: 5px 5px 5px 50px;
}

li.download
{
	padding: 5px 5px 5px 50px;
	background-image: url(/ninuxoo/download.png);
	background-repeat: no-repeat;
	background-position: 0.5em 0em;
}

li.resource
{
	padding: 5px 5px 5px 50px;
	background-image: url(/ninuxoo/resource.png);
	background-repeat: no-repeat;
	background-position: 0.5em 0em;
}

.resstats{
		margin-top: -10px;
		text-align:center;
		font-weight: bold;
		margin-bottom: 20px;
}

.exactresult
{
		font-weight: bold;
}

.otherresult
{
}

.label {
		list-style-type: square;
		color: black;
}

